body {
    background-color: whitesmoke;
    font-family: 'Barlow Semi Condensed', sans-serif;

}
#logo {
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 7%;
}
.button {
    top:4em;
    left:38em;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(216, 29, 29);
    border: none;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    object-fit: cover;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

h1 {
    color: rgb(24, 24, 24);
    font-size: px;
    top: 2em;
    left: 10em;
    position: absolute;
    object-fit: cover;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
section {
    margin-left: 3%;
    margin-right: 5%;
}

p{
    color: grey;
    font-size: 20px;
}
h3 {
    font-size: 30px;
}

